/* <- Demo Stuff Start */

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#corpo_menu {
  background-image: url(imagens/background.jpg);
  background-size: 110% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu_letras {
  font-size: 25px;
}

#logo_menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 800vw;
  margin: 0 auto;
  min-height: 70vh;
}
.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.footer {
  text-align: center;
  font-weight: 800;
  color: black;
  margin: 0px;
}

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
}

.btn-2 {
  background-image: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  );
}

.btn-3 {
  background-image: linear-gradient(
    to right,
    #84fab0 0%,
    #8fd3f4 51%,
    #84fab0 100%
  );
}

.btn-4 {
  background-image: linear-gradient(
    to right,
    #a1c4fd 0%,
    #c2e9fb 51%,
    #a1c4fd 100%
  );
}

/* .btn-5 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
  } */

  /*Formulário anunciantes*/

  body#anunciante{
    max-width: 1200px;
    margin: auto;
  }

  #titulo{
    width: 100%;
    text-align: center;
    background-color: darkgray;
  }

#introducao{
    width: 100%;
    text-align:center;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 100px;
  }
#chamada{
  width: 100%;
  text-align: center;
}

 #chamada h1{
  color: #28aae1;
 }
 #contexto{
   text-align: center;
   font-size: medium;
   margin-bottom: 150px;
 }
 #contexto h3{
  color: #28aae1;
  font-weight: 500;
 }

#planos span{
    /* width: 100%; */
    display: inline;
    align-content: center;
  }

#introducao{
    color: #666666;
    text-shadow: 1px 1px 3px #666666;
    font-size: x-large;
    margin-bottom: 20px;
    text-align: center;
   }

#planos{
     text-align: center;
   }
#tabelas{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
  }

#formulario{
  text-align: center;
  width: 100%;
  margin-top: 100px;
}

.btn-enviar{
  background-color: #28aae1;
  /* max-height: 30px; */

}


#voltar{
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

#formularioAnunciante{
  padding-left: 20px;
  padding-right: 20px;
}



/* Magic Stuff End -> */
@media screen and (max-width:600px){
  #corpo_menu{
    background-image: none;
    background-color: lightcyan;
    /*background-size: 100% 825px; */
  }
  #logo_menu{
    max-width: 95%;
    margin-top: 5px;
    
  }
  .opcao_interface{
    max-width: 100%;
  }
}

@media screen and (min-width:601px) and (max-width:980px){
  #corpo_menu{
    background-size: 100% 100%;
  }
  #logo_menu{
    max-width: 50%;
    margin-top: 1px;
    padding-top: 0px;
  }
}